
body{
	font-family: "Impact, Charcoal, sans-serif";
	font-size:18px;
	font-weight:1.2em;
}

header{
	color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  margin-bottom:-10px;
  margin-top:-10px;
  background-color: purple;
  color: white;
  text-align: center;
}


